//
// Swiper Hero Slider
// --------------------------------------------------
// Swiper content
.swiper-container {
    width: 100%;
    height: 90vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-content {
    width: 50%;
    padding-left: 10%;
    padding-right: 60px;
    & h1:after {
        content: '';
        display: block;
        border-bottom: 10px solid $black;
    }
}

// Backgrounds
.bg-stripes {
    width: 50%;
    height: 100%;
}

.bg-stripe {
    width: 100%;
    &--lt-pink {
        height: 15%;
        background: tint($pink, 50%);
    }
    &--pink {
        height: 85%;
        background: tint($pink, 25%);
        ;
    }
}

// Pagination
.swiper-container-horizontal>.swiper-pagination-bullets {
    left: auto;
    right: 0;
    bottom: 30px;
    width: initial;
    padding-right: 30px;
}

.swiper-pagination-bullet {
    border-radius: 0;
    display: block;
    width: 20px;
    height: 20px;
    text-align: right;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    background: none;
    opacity: 1;
    position: relative; // Hide Text
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    &:before {
        content: '\a0';
        height: 2px;
        width: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        background: $black;
    }
    &-active {
        display: inline-block;
        color: $black;
    }
}